[2015-05-05 20:09] thirtyeggs opened #30 "duplicated read names"
Hello,

I generated reads using human chromosome 9, and it seems that some reads have the the identical names like:
9-120771251-I-:9-120771251-I:::::::::::28138426:0
I can give different names by myself but I am afraid that changing read names disables varsim's capability of evaluating alignments (correct me if I am wrong). It happened both in the germline mode and in the somatic mode. Could you s

[2015-05-05 21:54] johnmu commented on #30
I checked with @marghoob and there is already a read identifier in the read name. In your example, that would be `28138426`.

Do you see the duplicate names in the FASTQ's or the BAM's after alignment?

[2015-05-05 22:30] thirtyeggs commented on #30
In the FASTQ files.
I uploaded my data sets here: https://drive.google.com/folderview?id=0B_r_jotTj8w9fkt6bHQyZkVpblpqVXFpQVpvMEhacWFVUDhVSG5GOF8xLXh3OHBxX0dGdDA&usp=sharing

The command line options are:
export dbsnp_vcf=/home/yunheo1/data/human/2015-04-30.icgc-tcga-dream/vcf/for-new-alignment/dbsnp_138.b37.chr9.vcf
export cosmic_vcf=/home/yunheo1/data/human/2015-04-30.icgc-tcga-dream/vcf/for-new

[2015-05-08 04:08] thirtyeggs commented on #30
I have an additional suggestion. Tumor reads can be made by mixing some normal lanes and some tumor lanes. Therefore, it would be possible that reads from a normal lane and a tumor lane have the same name. I hope a new version also prevent this.
Thank you!

[2015-05-08 18:18] johnmu commented on #30
Yes, that is what I feel is the issue too. I will get back to you on this next week.

[2015-05-11 09:32] thirtyeggs commented on #30
Thanks, John. It would be also helpful if two reference sequence names (paternal and maternal) of normal samples could be differentiated from those of tumor samples.

[2015-05-14 20:19] johnmu commented on #30
Hi Yun, sorry for the delay. I had some time to think about this and one easy solution will be to use different seeds for each simulation using the `--seed` parameter. This should ensure that the datasets are unique.

With regards to your suggestion about the reference names. Do you mind submitting it as a new issue so I can track it? Thanks!

[2015-05-15 02:25] thirtyeggs commented on #30
Hi John,
We have two issues: 1) duplicated read names in a single varsim run 2) potential duplicated read names between normal reads and tumor reads.
Do you think that the above two issues can be resolved by using different seeds? Can you explain how the seed affect the read names?
BTW, I will create another issue for the reference name.
Thank you for your help!

[2015-05-15 02:48] johnmu commented on #30
Sorry, so for the example you gave me. There are duplicated read names in a single run? Let me try to reproduce...

The read name essentially encodes the alignment location of the reads and an index that should be unique within each thread(lane). It is possible to have duplicates, but it would be unlikely.

Setting a different seed should fix case number 2

--John Mu

Sent from Mailbox

On Thu, Ma

[2015-05-15 04:55] thirtyeggs opened #31 "duplicated sequence names in generated reference sequences"
The reference sequences from varsim has two sequences (paternal and maternal), and the name is same in the normal sample and the tumor sample. Sometimes, I have to use these reference sequences from which read are generated. When, the normal reads and the tumor reads are mixed up, I have to use the two reference sequence files (normal and tumor), and the sequences in the two files are same.
Could

[2015-05-19 20:33] johnmu commented on #30
I am trying to reproduce this, however it appears that `-M` is not a valid parameter for ART. What version of ART are you using?

[2015-05-19 20:55] thirtyeggs commented on #30
I am using the latest version: ART-ChocolateCherries-03-09-2015. "-ss" is used to specify the sequencing system. HS25 means Illumina HiSeq 2500.

[2015-05-19 21:03] johnmu commented on #30
Thanks, I see now. Those options came in the new version.

[2015-05-19 21:40] johnmu commented on #30
I am able to replicate the duplicated read names! Let me have a look at why this is happening....

[2015-05-19 22:46] johnmu commented on #30
ok, I found out why. one read is from maternal chromosome and one is from paternal chromosome. Let me fix this.

[2015-05-19 22:57] thirtyeggs commented on #30
That is a good news. Thank you for your effort!

[2015-05-20 17:37] johnmu commented on #30
this https://github.com/bioinform/varsim/pull/32 should fix it. I'll merge this and make a release after a few more new things.

[2015-05-20 17:37] #30 closed

[2015-05-20 17:52] thirtyeggs commented on #30
Hi John,

Thank you very much for your effort. Can I ask when you expect to release a new version?

This is for me to decide which version (a new branch or a new future release in the main branch) I have to use.

Thanks,

Yun

From: John Mu [mailto:notifications@github.com]
Sent: Wednesday, May 20, 2015 12:37 PM
To: bioinform/varsim
Cc: thirtyeggs
Subject: Re: [varsim] duplicated read names (#30)

[2015-05-20 18:01] johnmu commented on #30
Hi Yun, Most likely this week.

[2015-05-20 19:17] thirtyeggs commented on #30
I tried to build varsim using the latest code but I got the following error message. I am not familiar with maven so I cannot understand why it happens:

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building varsim 0.5.2
[INFO] ------------------------------------------------------------------------
Downloading: https

[2015-05-20 19:37] johnmu commented on #30
Please remove that dependency. It is not needed anymore. We used to have an
internal copy of that.

On Wed, May 20, 2015 at 12:17 PM, thirtyeggs <notifications@github.com>
wrote:

--

*John Mu, PhD*
*Research Engineer, Data Science*
*Bina Technologies <http://www.bina.com>*, part of Roche Sequencing

[2015-05-20 19:45] thirtyeggs commented on #30
I see. I removed line 91-95 in pom.xml and it worked.
Thanks!

[2015-05-22 06:11] johnmu commented on #30
https://github.com/bioinform/varsim/releases/tag/v0.5.2 Here's a release if you still need it.

[2015-05-28 00:46] wx115 opened #34 "Support art_SOLiD reads"
Sorry if I'm wrong, but I cannot find support for art_SOLiD reads in the current VarSim. The .fq file output from art_SOLiD is different from art_illumina. art_SOLiD uses color codes instead of the nucleotides ACGT. Also there is no .aln file, but only .map file output from the reads simulator. Does the current VarSim support art_SOLiD reads? How to perform fastqLiftOver on art_SOLiD reads? Thank

[2015-05-28 00:48] johnmu commented on #34
Sorry, unfortunately we do not support SOLiD reads and do not have plans to support it in the future.

[2015-05-28 01:02] wx115 commented on #34
Thanks for the reply. Do you support any other sequencers, or do you have any plan to support other sequencers in the future?

[2015-05-28 01:03] johnmu commented on #34
We have some plans to support pacbio, but that is it for now.

[2015-05-30 02:44] thirtyeggs opened #35 "no item in tumor_somatic.vcf from V0.5.2"
Hello,

I ran VarSim V0.5.2 with the script that had worked well with V0.5.1, and the output tumor vcf file tumor_somatic.vcf has no variant. Could you check this?

Thanks,
Yun

[2015-05-30 17:22] johnmu commented on #35
That's strange.... I didn't change any of that part. Let me have a look at this next week. Do you mind sending me the log files of the somatic run?

[2015-05-30 17:22] #34 closed

[2015-05-30 23:26] thirtyeggs commented on #35
The error message in random.cosmic.err might be helpful:
VarSim 0.5.2
"-maxLen" is not a valid option
java -jar randvcf2vcf.jar [options...]
 -max_len N         : Maximum variant length [99], inclusive
 -min_len N         : Minimum variant length [1], inclusive
 -novel N           : Average ratio of novel variants[0.01]
 -num_complex N     : Number of complex variants (other ones) to sample [20000

[2015-05-30 23:31] thirtyeggs commented on #35
I would like to ask you to add a header line to tumor_somatic.vcf.
Adding the definition of "SVLEN" and "SVTYPE" would also be needed because the following warnings are shown when bcftools reads the vcf files from VarSim:
[W::vcf_parse] INFO 'SVLEN' is not defined in the header, assuming Type=String
[W::vcf_parse] INFO 'SVTYPE' is not defined in the header, assuming Type=String

I am writing this

[2015-06-09 02:30] wx115 opened #36 "samcompare supporting single-end reads"
Hi, I've been using VarSim to simulate reads for alignment, and would like to compare the alignment accuracy before secondary analysis. I'd like to test with single-end reads. However fastqLiftover does not support single-end, therefore I used art_illumina to generate pairend reads, and use bwa on one read file to generate .sam and .bam files. Then it seems to me that samcompare does not support s

[2015-06-09 21:32] marghoob commented on #36
Hi Wenxian,

Which version of VarSim are you using? The most recent version (v0.5.2)[https://github.com/bioinform/varsim/releases/tag/v0.5.2] should support single-ended reads in samcompare. Please try to run with the latest version and let us know how it goes.

Regards,
Marghoob.

[2015-06-12 17:35] johnmu commented on #35
Thanks for reporting! Yeah, that is a known issue. We need to add a few more fields to the header. I was at a conference this week so did get a chance to look at this yet. These issues will slowly move up my pile of todo items...

[2015-07-24 00:47] bayolau opened #37 "update dbsnp web link in example"

[2015-07-30 17:32] johnmu commented on #37
Updated

[2015-07-30 17:32] #37 closed

[2016-02-19 20:02] choosehappy opened #43 "Add ability to specify maximum # of threads"
Depending on the desired number of lanes, a large number of threads can be launched which may overwhelm the system. Especially if [ number of lanes ]  >> [ number of cpus]

Adding a command line argument to specify the maximum could be useful.

In my case, i've done a quick hack. Around line 431 of varsim.py, i added the following lines:

        lprocesses = []
        for i in xrange(args.nlanes

[2016-02-19 20:42] marghoob commented on #43
Thanks @choosehappy! I've made a note of this and will have a fix soon.

[2016-02-19 22:52] choosehappy opened #44 "Produce simulated data in certain intervals?"
For example, accept a bed file as a command line parameter, and only produce reads within the ranges specified in the bed file.

I'm thinking about this as a means of producing exome read data. Currently its possible to use varsim to simulate the entire genome, and then use a bed file to extract solely exon regions. Typically, though, exome data is sequenced at 100x, so producing the whole genome

[2016-02-20 01:12] marghoob commented on #44
We have been considering incorporating exome simulators in VarSim, since exome simulation is much more than simply generating reads from specific intervals. If you know of any good exome simulator, please let us know.

[2016-02-20 14:35] choosehappy commented on #44
The only i currently know of is Wessim:

http://www.ncbi.nlm.nih.gov/pubmed/23413434
http://sak042.github.io/Wessim/

[2016-04-21 00:41] astewart-twist opened #46 "SAMcompare errors reading in bam files"
I'm having trouble reading any kind of bam file into SAMcompare.

This is from a bam file generated by ART.
[code]

And this is a bam file from aligning the ART generated reads with bwa
[code]

Any ideas?

[2016-08-24 00:11] Phillip-a-richmond opened #49 "Multiple reads with same name"
Hello,
I've been using your tool, and it seems that when I simulate reads (following the default example you provided [here](http://bioinform.github.io/varsim/), I'm running into an error with identical read names.  It seems this should have been cleared up in the past, but it isn't.  Here's my command:

/opt/tools/varsim/varsim.py --vc_in_vcf /mnt/data/Benchmark/All_20160527.vcf --sv_insert_seq /

[2016-08-25 19:05] marghoob commented on #49
Thanks for bringing this to our attention. We will have a look and get back to you as soon as possible. By the way, which version of VarSim are you using?

[2016-08-25 19:08] Phillip-a-richmond commented on #49
Version 0.5.1

[2016-08-25 19:13] Phillip-a-richmond commented on #49
Ahh I see you're now on version 6.3.  I'll have my systems admin update versions to see if this error is mitigated.  Or should I stay in the version 5s?

[2016-08-25 20:18] marghoob commented on #49
Please give 0.6.3 a try and let me know how it works.

[2016-08-29 17:25] Phillip-a-richmond commented on #49
The bug seems to be resolved as I'm not getting any errors now.

Thanks,
Phil

[2016-08-29 17:25] #49 closed

[2016-08-31 21:39] Phillip-a-richmond opened #50 "Something strange, multiple SNP matches in true set"
I'm getting this output when comparing my vcf file back to the simu_truth.vcf:

31 Aug 2016 14:35:32,929  INFO [main] (VCFcompare.java:1120): Something strange, multiple SNP matches in true set: 2

It prints out numerous (~100) times.

Any idea what this means, and should I be worried?

My command:
java -jar VarSim.jar vcfcompare -prefix simu  BWA_Benchmark_BWAmem_dupremoved_realigned_v0.1.19mpile

[2016-09-01 17:34] marghoob commented on #50
Thanks, Phil, let me look into this.

[2016-09-01 20:52] Phillip-a-richmond opened #51 "VarSim VCFs with malformed genotype columns"
Hello,
I'm running VarSim 0.6.3, and when I run the Varsim.jar vcfcompare tool, I'm getting weird artifacts in my output VCF files.  For example:

In my False Negative set, I have a variant that is represented in the simu.truth.vcf file as:

15	79840283	rs67879267	TA	TATATTTTATATTATATATTATATATATATATAAATA,TTATATATATATATTATATATATATATTATATATAATATATATTATATATATAATATATATATTTTATATATAATATATATAATATATATTTTA

[2016-09-02 20:20] marghoob commented on #51
Not entirely sure what is going on. It might be related to the variant normalization approach. Let me have a look and see if I can reproduce it (and hopefully fix it).

[2016-09-02 20:23] Phillip-a-richmond commented on #51
I could share my VCF files if you need them, or additional lines from them if it helps.  For now I'll just remove that entry.

-Phil

[2016-09-02 20:24] marghoob commented on #51
It would be great if you can share the VCF.

[2016-09-02 20:43] Phillip-a-richmond commented on #51
Okay I've got 3 files here:
+ Truth_test.vcf.txt contains the variant (and 499 others) that was incorporated in the simu.truth.vcf file.
+ BWA_Samtools_Test.vcf.txt contains the variant (and 499 others) called through my pipeline.  There is no normalization of variants yet at this step, just the raw variant calls.
+ BWA_Samtools_FN_Test.vcf.txt contains the output from running the Varsim.jar vcfco

[2016-09-09 07:13] CoREse opened #52 "Can I use it to generate(simulate) multiple samples into a vcf file?"
I need to generate a lot of samples in a vcf file. Can varsim generate such a vcf file?

[2016-09-10 00:47] marghoob commented on #52
Currently, VarSim only generate a single-sample truth VCF.

[2016-09-10 00:49] marghoob commented on #50
Hi @Phillip-a-richmond can you send me the VCFs you used for the comparison?

[2016-09-10 04:04] CoREse commented on #52
OK, I see, thanks.

[2016-09-10 04:07] CoREse commented on #52
Another question, when the input is given, will varsim generate the same truth vcf every time? Can it generate the truth vcf randomly?

[2016-09-13 23:10] Phillip-a-richmond commented on #50
@marghoob Yes my VCF file is roughly 400Mb, how do you want me to transfer it to you?  GitHub will only accept 10Mb files.

[2016-09-13 23:13] Phillip-a-richmond commented on #51
Any luck figuring this one out?

-Phil

[2016-09-13 23:40] Phillip-a-richmond commented on #50
Ahhh, it looks like the All.vcf that I was using was for the wrong reference genome.  I'll rerun the analysis and if the issue persists then I'll reopen another one.

Sorry!
Phil

[2016-09-13 23:40] #50 closed

[2016-09-28 09:37] hradhakrishnan commented on #52
Hi, had the same question. Does the truth vcf file vary with each run

[2016-09-28 13:39] marghoob commented on #52
Yes, VarSim is deterministic should it should generate the same truth VCF every time.

[2016-10-13 19:03] Madelinehazel opened #57 "Simulate translocations?"
Is it possible to simulate inter- and intra-chromosomal translocations?
If so, what is the correct way to annotate these in the VCF file(i.e. include the breakpoint on each chromosome)?

[2016-10-13 23:23] marghoob commented on #57
Hi Madeline

Yes, we do support translocations but it is currently under heavy development, which is why there is no release yet. For an example of how this would be done, you can browse https://github.com/bioinform/varsim/tree/master/src/test/resources/TranslocationTest for test VCFs. We currently only have only entry in the VCF for each translocation--this entry corresponds to the destination of

[2016-10-22 00:33] #57 closed

[2016-10-22 00:33] #52 closed

[2017-01-04 19:53] yunfeiguo opened #82 "clean up inactive branches"
Hi @johnmu,

Happy new year! Hope you had a great vacation with your baby!

I wonder if you would like to keep the branches you created (other than master and gh-pages) in the repo? Thanks!

Best,
Yunfei

[2017-01-09 14:47] mmcneill123 opened #84 "missing maternal.chain"
Good morning,

Thank you for providing public access to this very nice code base. I am currently running into an error, and I'm hoping you can help me get the code working.

I'm running the following command:

sample_name=Variants_Test
vcf_file=/mnt/work/mmcneill/TestData/orig_input_files/S1_R1R2Consensus.vardict.vcf.gz
out_dir=/mnt/work/mmcneill/TestData/outLarge
read_length=150
total_coverage=10

[2017-01-09 18:46] marghoob commented on #84
Hi Matt

Which version of VarSim are you using? If possible, could you please checkout the master branch and run build_release.sh to build a VarSim release from the current master? This will require maven to be installed on the system.

Best
Marghoob.

[2017-01-09 19:48] mmcneill123 commented on #84
Hi Marghoob,
Thanks very much for the quick reply!
python2.7 varsim.py --version reports v0.6 before and after the update. I updated to master, which found 205 changes.

After recompiling, I re-ran my command. It ran without errors. Thanks for your help!

Matt

[2017-01-10 18:08] #84 closed

[2017-02-23 15:55] joaoe opened #107 "Java Exception with example file"
Hello.

While runnign VarSim with [All_20160601.vcf.gz](http://ftp.ncbi.nih.gov/snp/organisms/human_9606_b147_GRCh37p13/VCF/All_20160601.vcf.gz) the program crashes

[code]
The culprit seems to be [this line](https://github.com/bioinform/varsim/blob/master/src/main/java/com/bina/varsim/types/VCFInfo.java#L75) where a Boolean is being assigned to a String field, when creating VCFInfoElement classes

[2017-02-23 17:21] yunfeiguo commented on #107
Hi,

I tested the failing input with latest VarSim under JRE 1.8.0_60-b27 and it worked fine. Could you try that? Thanks.

[2017-02-24 12:01] joaoe commented on #107
This is the one we have installed
[code]
(which is the default ubuntu one).
Is the version you used Oracle Java or OpenJDK ?
Thank you.

[2017-02-24 14:25] yunfeiguo commented on #107
It is Oracle java. Thanks.

[2017-02-24 14:45] joaoe commented on #107
Ok, I try it later and then report.

[2017-02-27 15:44] joaoe commented on #107
It worked with Oracle Java just fine. Seems like a potential bug to report to the OpenJDK project. Is OpenJDK something you support or not ? Asking since it's the default java runtime that comes with most linux distributions nowadays.

[2017-02-27 17:08] yunfeiguo commented on #107
Thanks for reporting back! Based on this [post](http://stackoverflow.com/questions/22358071/differences-between-oracle-jdk-and-open-jdk-and-garbage-collection), OpenJDK and Oracle JDK should be almost the same. So what works in one case should also work in another. For the specific problem you had, it looks more like a bug in OpenJDK as you have suggested, rather than compatibility issue. Thank yo

[2017-02-27 17:09] #107 closed

[2017-04-03 17:08] wiedenhoeft opened #110 "Casting error in VCFparser.java"
I've tried to run (a fixed version of) quickstart.sh. However, I get the following fatal error:

03 Apr 2017 13:01:15,612  INFO [main] (SimpleReference.java:62): Read ref: hs37d5:hs37d5
03 Apr 2017 13:01:15,674  INFO [main] (VCFparser.java:45): Reading /u2/home/wiedenhoeft/software/varsim/All.vcf.gz
03 Apr 2017 13:01:15,693 FATAL [main] (VCFparser.java:662): Cannot cast java.lang.Boolean to [Ljava

[2017-04-11 01:41] yunfeiguo commented on #110
Hi,

What version of VarSim are you using? Thanks.

[2017-04-13 19:22] wiedenhoeft commented on #110
I'm using 0.4.1.

[2017-04-25 17:29] kunalkathuria opened #117 "adjusting wiggle parameter"
Hi,

I was wondering how I can adjust the wiggle parameter in vcf comparison.Can I set it from command line? If not, can I change it in VCFcompare.java and recompile somehow? How would I do this? Thank you very much!

[2017-04-25 17:41] kunalkathuria commented on #117
Never mind, found it in command line options in java -jar vcfcompare...

[2017-04-25 17:41] #117 closed

[2017-04-25 17:45] yunfeiguo commented on #117
Hi,

`-wig` followed by an integer can be used to set wiggle parameter in a command line. there is no need to recompile.

[2017-04-25 18:05] marghoob commented on #110
@wiedenhoeft did you check against the latest version of VarSim 0.7.8?

[2017-04-25 18:07] kunalkathuria commented on #117
Thank you!

[2017-04-25 19:12] kunalkathuria opened #118 "NVariants simulated issue and DUP:ISP/TRA?"
Hi,

I have a couple of questions. 1) When I simulate variants I usually do not get the required number. e.g. --sv_num_del 5000 --sv_num_inv 5000 yields ~3500 deletions and ~700 inversions.

2) Also, translocations and ISP duplications (copy-paste) are seemingly not simulated. And the TD's that are simulated are not being caught (even 1) by any tool I have tried. Could you point out some possible

[2017-04-25 21:05] yunfeiguo commented on #118
1) I wonder how many deletions and inversions are in the database being sampled from? Also, was simulation restricted to any region?
2) for translocations, and interspersed duplications, the easiest option is create a VCF containing translocations and interspersed dups and sample all variants from that file. The format has to follow VarSim definition. See https://github.com/bioinform/varsim/blob/m

[2017-04-26 15:49] kunalkathuria commented on #118
1) I am sampling from the GRCCh37*.txt DGV file that was included with the package but will try another one. No restriction for the simulation.
2) Great. Could you also address the other part of the question: "And the TD's that are simulated are not being caught (even 1) by any tool I have tried. Could you point out some possible reasons for this?"

Thank you very much!

[2017-04-27 16:01] yunfeiguo commented on #118
1. could you provide the command you used so that I can reproduce the error?
2. I assume TD is translocation duplication. I think it might be good to first visually inspect the variants are properly simulated into the reads (load alignment in IGV). After you are sure trans dup is there, the caller might fail to call that variant, or the caller might call it but present it in a different way. In pa

[2017-04-27 17:19] kunalkathuria commented on #118
1. ./varsim.py --vc_in_vcf All.vcf.gz --sv_insert_seq insert_seq.txt --sv_dgv GRCh37_hg19_supportingvariants_2013-07-23.txt --reference hg19.chr3.fa --id simu --read_length 100 --vc_num_ins 2500 --vc_num_del 2500 --sv_num_ins 5000 --sv_num_del 5000 --sv_num_dup 5000 --sv_num_inv 5000 --mean_fragment_size 350 --sd_fragment_size 50 --vc_min_length_lim 0 --vc_max_length_lim 49 --sv_min_length_lim 50

[2017-05-02 17:21] kunalkathuria commented on #118
Hi,

Re: 2., looking in IGV I did not find any discordant reads at any of the simulated tandem duplication locations that I looked at. I guess I could use a vcf input to simulate them and check, but I wanted to let you know anyway. Thanks.

[2017-05-03 15:24] kunalkathuria commented on #118
Sorry for the multiple questions. You said before: "for translocations, and interspersed duplications, the easiest option is create a VCF containing translocations and interspersed dups and sample all variants from that file." When I do this, following the varsim format, and input as --vcfs [filename], I do not get all the ISPs and transolocations simualted-- more than half are not simuated. And e

[2017-06-13 07:38] hh1985 opened #127 "bug with v0.7.10"
I tried to run the latest version of varsim.py, and got the following error
[code]
Changing options.min_len to options.min_length fixed the bug.

[2017-06-13 15:12] yunfeiguo commented on #127
fixed. Thanks!

[2017-06-13 15:12] #127 closed

[2017-06-13 21:11] hh1985 opened #130 "bugs for running test case (v0.7.10)"
Hi,

I found two bugs when repeating the varsim example.

[code]
I think art_command and dwgsim_command should be simulator_command now.

Another error is about run_randvcf:
[code]

The definition (run_randvcf) is:
`def run_randvcf(sampling_vcf, out_vcf_fd, log_file_fd, seed, sex, randvcf_options, reference)`

But in varsim_somatic.py, the actual command is:
[code]

The interface of run_randvcf is

[2017-06-13 21:21] marghoob commented on #130
Many thanks for pointing out the bugs @hh1985 ! We will fix this as soon as possible.

[2017-06-19 14:32] iranmdl commented on #110
I'm having the same error. VarSim 0.7.1

`19 Jun 2017 16:30:37,602 FATAL [main] (VCFparser.java:662): Cannot cast java.lang.Boolean to [Ljava.lang.String;`

Any solution?

[2017-06-19 15:02] yunfeiguo commented on #110
Could you try latest version? The issue has been fixed. Thanks.

[2017-06-19 16:23] iranmdl commented on #110
Yes sorry! fixed :)
However...now I'm getting another error...:

`tail log/RandDGV2VCF.err`

[code]

[2017-06-26 13:17] iranmdl commented on #110
Any help on this, please?

[2017-06-26 16:28] yunfeiguo commented on #110
Sure. Let me take a look.

[2017-06-26 19:38] yunfeiguo commented on #110
Hi @iranmdl

So the error is probably caused by very short insert length of `insert_seq.txt` or by very large insertion that needs to be filled by VarSim. Could you check the following  after entering your execution directory?

1. ` grep -A 10 randdgv2vcf log/varsim.log`
2. `wc insert_seq.txt`

if both are fine, we can look at other things. Thanks.

[2017-06-28 11:18] iranmdl commented on #110
Ok, I manage to fix the issue I'm not sure how. However.. another error popped out:

`art_command is not found or something similar`

I looked into `varsim.py` script and:

[code]
I replaced `art_command` with `simulator_command` and everything works nice now. Looking the code it will happen the same if `dwgsim` is chosen as simulator tool.

:)

[2017-06-28 17:25] iranmdl opened #134 "TypeError: run_randvcf() takes exactly 7 arguments (15 given)"
Hi,

I'm having the following error when trying to run `varsim_somatic.py` script:

[code]

This is the command I'm using:

`python varsim_somatic.py --reference hs37d5.fa --id cosmic --som_num_snp 10000 --cosmic_vcf cosmic.vcf.gz --normal_vcf out/simu.truth.vcf --nlanes 1 --total_coverage 1 --simulator art --simulator_executable /shared/tools/src/art_bin_MountRainier/art_illumina --out_dir som_ou

[2017-06-28 17:57] marghoob commented on #134
Thanks @iranmdl , this fix is already being tested in the bugfixes-0.8.0 branch (see https://github.com/bioinform/varsim/pull/131). Please give the branch a try to see if it works for you.

[2017-06-29 09:10] iranmdl commented on #134
Thank you @marghoob , that issue has been fixed in the branch.
But now I get another error when running `varsim_somatic.py`:
`NameError: global name 'RandVCFOptions' is not defined`

`RandVCFOptions` is a class object in `varsim.py`, not imported to `varsim_somatic.py`

[2017-07-06 23:51] yunfeiguo commented on #134
Hi @iranmdl
this problem has been fixed, thanks!

[2017-08-01 18:11] marghoob commented on #134
@iranmdl could you please confirm that this is no longer an issue for you? thanks!

[2017-08-01 18:12] marghoob commented on #130
@yunfeiguo was this fixed?

[2017-08-01 18:13] marghoob opened #136 "Add threads/processes option"
This will allow to limit the amount of parallelism which gets used. Also, add some options to limit memory usage.

[2017-08-03 23:13] palakpsheth opened #137 "VarSim 0.8.1: varsim_multi.py vcf2diploid issue"
When running the new varsim_multi.py with targeted regions, vcf2diploid generates 0 variants from the region restricted ref and vcf

examples can be provided on request

[2017-08-03 23:13] palakpsheth commented on #137
@marghoob

[2017-08-03 23:21] yunfeiguo commented on #137
@palakpsheth are you sure there are variants in the targeted regions? could you provide the command line and minimal input for reproducing the error? Thanks.

[2017-08-04 17:40] palakpsheth commented on #137
@yunfeiguo
Thank you for the quite response. Please find attached truncated example files that reproduce the issue. The ref and vcf are sampled from output of varsim_multi.py and are passed to varsim_main

java -jar VarSim.jar vcf2diploid -t FEMALE -id test -seed 0 -chr test_ref.fa -vcf randvcf.vcf.gz
[test_ref.zip](https://github.com/bioinform/varsim/files/1201168/test_ref.zip)
[randvcf.vcf.gz](h

[2017-08-17 17:35] yunfeiguo commented on #137
Hi @palakpsheth

Sorry for my late response, I checked your files and found that indeed no variants in `randvcf.vcf.gz` are in the regions of `test_ref.fa`. The following is list of regions found in ref (left) and regions found in vcf, respectively:

[code]

[2017-08-25 08:57] iranmdl commented on #134
@marghoob The issue has been fixed and now is working perfectly.
Thank you!

[2017-08-25 17:57] #134 closed

[2017-08-25 17:58] marghoob commented on #137
Hi @palakpsheth is your problem solved now?

[2017-08-25 18:34] palakpsheth commented on #137
Apologies for the delay. I resolved the issue by writing my own varsim_multi_targeted wrapper and liftover tool to accommodate the targeted chromosome names

[2017-08-25 18:40] marghoob commented on #137
Thanks @palakpsheth. Would it be possible for you to share what you did which was not possible through VarSim? That would help fix any issues or enhance the features.

[2017-09-05 21:16] berniechow commented on #118
I am also having an issue with duplications being listed in the "truth" vcf but not being simulated.  Has this been resolved?  Is this something that was verified as a bug?  I can provide more details if this is still a work in progress.  Thanks!

[2017-09-05 22:06] yunfeiguo commented on #118
@berniechow  Let me check, thanks.

[2017-09-11 09:37] xuwenjian85 opened #139 "os.mkfifo(fifos[-1]) OSError: [Errno 1] Operation not permitted"
I am using VarSim v0.8.1 in ubuntu 16.04 virtual box machine
`xu@xu-VirtualBox:/media/sf_share/varsim_run$ cat test_varsim.sh`

Then I run it and got OSError
`xu@xu-VirtualBox:/media/sf_share/varsim_run$ sh test_varsim.sh`

Did anyone see this before?

[2017-09-11 15:07] yunfeiguo commented on #139
@xuwenjian85  I see that you are under a shared directory, a post pointed out that `mkfifo` might not work under shared directory, could you try it elsewhere, say, your home directory?

[2017-09-11 21:03] yunfeiguo commented on #118
@berniechow @kunalkathuria it turns out the `CN` (copy number) field has incorrect default value (1 instead of 2), and that copy number is not properly set for DGV-converted duplications. I have fixed the issue, please use the updated `jar` file ([VarSim.jar.zip](https://github.com/bioinform/varsim/files/1294056/VarSim.jar.zip)). Thanks.

[2017-09-12 01:14] xuwenjian85 commented on #139
My home directory doesn't help. however, I went over all log files. I found my VCF didn't go through the phasing check step. Here is some errors logging in RandVCF2VCF.err.
Could the reason be I used a wrong match VCF. ftp://ftp.ncbi.nlm.nih.gov/snp/organisms/human_9606_b150_GRCh37p13/VCF/All_20170710.vcf.gz

11 Sep 2017 17:38:21,891  INFO [main] (SimpleReference.java:71): Read ref: GL000193.1:GL0

[2017-09-12 01:34] yunfeiguo commented on #139
do you have any thoughts? @marghoob

regarding the missing phasing information, VarSim can tolerate that.

[2017-09-12 01:52] xuwenjian85 commented on #139
@yunfeiguo Thanks for your response.
I did try `sudo sh test_varsim.sh`. My "mkfifo error' is gone. Varsim finished (indeed it tolerated piles of "phasing" warnings somehow) but simulated files are all empty. Even random.sv.vcf isn't here. Strange to me.

total 4.0M
drwxrwx--- 1 root vboxsf  12K 9月  12 09:38 .
drwxrwx--- 1 root vboxsf 8.0K 9月  12 09:16 ..
-rwxrwx--- 1 root vboxsf    0 9月  11 17:49

[2017-09-12 05:52] xuwenjian85 commented on #139
@yunfeiguo
I let output and log go to `/home/xu`, then `sudo sh` to exec script. It works! Thanks.  Now, my script is like this.

`xu@xu-VirtualBox:/media/sf_share/varsim_run$ cat test_varsim.sh`

output=\~/result100k2
log=\~/log100k2
./varsim.py --vc_in_vcf All_100k.vcf.gz --sv_insert_seq insert_seq.txt \
--sv_dgv GRCh37_hg19_supportingvariants_2013-07-23.txt \
--reference hs37d5.fa --id simu --r

[2017-09-12 05:53] #139 closed

[2017-09-12 13:08] yunfeiguo commented on #139
Great to hear that.

[2017-09-12 16:06] kunalkathuria commented on #118
Thank you.

On Mon, Sep 11, 2017 at 5:03 PM, Yunfei Guo <notifications@github.com>
wrote:

--
Kunal

[2017-09-12 17:58] berniechow commented on #118
Thank you!  I will re-run my analysis to confirm.

[2017-09-20 16:12] iranmdl opened #140 "VarSim germline understanding output..."
Hi there!
I'm trying to make a somatic simulation.
First, I have simulated germline data as suggested:

`python varsim.py --vc_in_vcf All.vcf.gz --reference hs37d5.fa --sv_insert_seq insert_seq.txt --sv_dgv GRCh37_hg19_supportingvariants_2013-07-23.txt --id simu --read_length 100 --vc_num_snp 20000 --vc_num_ins 5000 --vc_num_del 5000 --vc_num_mnp 100 --vc_num_complex 50 --sv_num_ins 100 --sv_num_d

[2017-12-13 15:58] Eric4Wu opened #141 "could VarSim simulate WES CNV?"
Hi  yunfeiguo ,

as title, I want to simulate CNVs in WES data

Is this tool able to simulate variant in WES mode?

[2017-12-24 00:21] yunfeiguo commented on #141
@Eric4Wu varsim can do region-specific simulation, but will not have the characteristic depth distribution of WES or other capture-based resequencing. @marghoob

[2018-01-09 01:23] marghoob commented on #110
Fixed in the most recent version of varsim.

[2018-01-09 01:23] #110 closed

[2018-01-09 01:24] marghoob commented on #44
A simple targeted simulation is supported in VarSim now using the `varsim_multi.py` script.

[2018-01-09 01:24] #44 closed

[2018-02-06 15:10] haoziyeung opened #144 "AttributeError: 'Logger' object has no attribute 'write'"
Hi,there,i'm using varsim to create a simulated somatic data,and i hava a error message,like below:
`python varsim_somatic.py --reference /gpfs/users/yanghao/database/ref/b37/human_g1k_v37_decoy.fasta --id cosmic --som_num_snp 10000 --som_num_ins 2000 --som_num_del 2000 --som_num_mnp 200 --som_num_complex 200 --cosmic_vcf cosmic.vcf.gz --normal_vcf somatic_sim_data/simu.truth.vcf --nlanes 1 --tota

[2018-02-06 18:22] roger-liu-bina opened #145 "use the same chromosome format as in the reference"
Can varsim use the `chr*` in the truth.vcf if the reference is hg38, for example

[2018-02-06 18:24] yunfeiguo commented on #145
Yes. Right now VarSim will not attempt to alter chromosome in input/truth (e.g. chr1 will stay chr1).

[2018-02-06 18:25] roger-liu-bina commented on #145
sure. Thanks.

[2018-02-06 18:25] #145 closed

[2018-02-06 18:30] roger-liu-bina opened #146 "vcfcompare compelx variants"
if the truth vcf is `11  108271061 small_679 TAGT  GATACTA . . SVLEN=7 GT  1|0`. And then we have two separate calls like this
[code]

[2018-02-06 18:34] yunfeiguo commented on #146
Thanks. That's a good example. Add a few more here.
truth: `3 37047577  small_267 GG  ATCTGGACC . . SVLEN=9 GT  0|1`
TP calls:
`3 37047574  . G GCTAT . . SVLEN=4 GT  0|1`
`3 37047578  . G GACC`

truth: `11  108272813 small_691 ATC TGAT  . . SVLEN=4 GT  0|1`
TP calls:
`11  108272812 . C CTG . . SVLEN=2 GT  0|1`
`11  108272814 . TC  T . . SVTYPE=DEL;SVLEN=-1 GT  0|1`

[2018-02-06 21:40] yunfeiguo commented on #144
Hi @haoziyeung

Please pull from `master` branch and try again. Thanks!

[2018-02-07 06:24] haoziyeung opened #147 "TypeError: sequence item 29: expected string, NoneType found"
Hi,@yunfeiguo,i'm using varsim to get a pair simulated fastq within a certain interval file,like below:

`python /gpfs/users/yanghao/software/varsim_run/varsim_multi.py --regions Euler_MSKCC_actionable_cancer_original.sort.bed --sv_insert_seq /gpfs/users/yanghao/software/varsim_run/insert_seq.txt --sv_dgv /gpfs/users/yanghao/software/varsim_run/GRCh37_hg19_supportingvariants_2013-07-23.txt --refer

[2018-02-07 06:25] haoziyeung commented on #147
in fact , i want to simulate 1000x,2000x,5000x data,so i don't want to use `varsim.py`,because it will generate  variants on entire genome,maybe too slow in this case.

[2018-02-07 06:42] haoziyeung commented on #147
Let me make myself clearly,i want to generate simulated somatic mutation data within a certain interval, thanks

[2018-02-08 05:36] haoziyeung commented on #147
Finally,i get the correct command,like below:
`python /gpfs/users/yanghao/software/varsim_run/varsim_multi.py --regions ../Euler_MSKCC_actionable_cancer_original.sort.bed --sv_insert_seq /gpfs/users/yanghao/software/varsim_run/insert_seq.txt --sv_dgv /gpfs/users/yanghao/software/varsim_run/GRCh37_hg19_supportingvariants_2013-07-23.txt --reference /gpfs/users/yanghao/database/ref/b37/human_g1k_v37_

[2018-02-08 05:36] #147 closed

[2018-02-08 08:22] haoziyeung opened #148 "Exception: Aborting... Please check log for details."
Hello ,sorry for bother your again,i'm using varsim_multi.py to get simulated data,here is my command:

`python /gpfs/users/yanghao/software/varsim/varsim_multi.py --regions ../Euler_MSKCC_actionable_cancer_original.sort.bed --sv_insert_seq /gpfs/users/yanghao/software/varsim_run/insert_seq.txt --sv_dgv /gpfs/users/yanghao/software/varsim_run/GRCh37_hg19_supportingvariants_2013-07-23.txt --referen

[2018-02-08 08:30] haoziyeung commented on #148
@marghoob

[2018-02-08 15:41] marghoob commented on #148
@haoziyeung Could you please attach your log directory as a tar-gzipped archive and we will have a look. It looks like one of the processes failed for some reason and we are hoping the log files would have information about it.

[2018-02-08 19:41] zhuang96 commented on #148
Hello @marghoob , I am having the same issue as well (pulled the new master because I was having the Logger attribute 'write' problem and now "Exception (Aborting...")).

Attached is my log achieve. Thank you!
[varsim_log.tar.gz](https://github.com/bioinform/varsim/files/1708535/varsim_log.tar.gz)

[2018-02-08 20:55] yunfeiguo commented on #148
@zhuang96 apparently the command is different from the 1st user, could you post it here?

[2018-02-08 20:59] zhuang96 commented on #148
Hello @yunfeiguo , this is my command input for testing

`./varsim-master/varsim.py --vc_in_vcf All.20170710.vcf.gz --sv_insert_seq insert_seq.txt \
--sv_dgv GRCh38_hg38_supportingvariants_2016-08-31.txt\
--reference /project/vntrseek/share/GRCh38/GRCh38.fa --id simu --read_length 100 --vc_num_snp 3000000 --vc_num_ins 100000 \
--vc_num_del 100000 --vc_num_mnp 50000 --vc_num_complex 50000 --sv_num_

[2018-02-09 23:10] roger-liu-bina commented on #146
It seems vcfcompare needs to normalize the variants before comparison.

[2018-02-12 18:56] yunfeiguo opened #151 "more robust FlexSeq"
`DUP:TANDEM>` will be interepreted as regular `ALT` allele, where it should be reported as illegal (return `null` in `VCFParser`).

[2018-02-12 22:08] yunfeiguo commented on #151
fixed in #152

[2018-02-12 22:08] #151 closed

[2018-02-15 22:51] yunfeiguo commented on #148
Thanks, @zhuang96 @haoziyeung

We are working on this issue.

[2018-02-22 06:12] haoziyeung commented on #148
Hello, @yunfeiguo ,here is my cmd:
`python /gpfs/users/yanghao/software/varsim/varsim_multi.py --regions ../Euler_MSKCC_actionable_cancer_original.sort.bed --sv_insert_seq /gpfs/users/yanghao/software/varsim_run/insert_seq.txt --sv_dgv /gpfs/users/yanghao/software/varsim_run/GRCh37_hg19_supportingvariants_2013-07-23.txt --reference /gpfs/users/yanghao/database/ref/b37/human_g1k_v37_decoy.fasta --v

[2018-02-23 14:46] yunfeiguo commented on #148
@haoziyeung thanks, I suspect this is still caused by attempt to restrict dgv in some region (which is not supported yet). We will work on this (and maybe additional information is needed later). Thanks.

[2018-02-28 02:12] yunfeiguo opened #156 "handle copy number loss in dgv"
right now copy number loss is ignored, we probably should add it back.

https://github.com/bioinform/varsim/blob/master/src/main/java/com/bina/varsim/util/DGVparser.java#L157

[2018-03-14 15:57] Pitithat-pu opened #158 "Simulate Single-end read"
Hi Developers,
 How to set the Varsim parameters to simulate a single-end file of shallow whole-genome sequencing (0.5x)?
Best
Pitithat

[2018-03-14 21:36] yunfeiguo commented on #158
Hi @Pitithat-pu
Right now it does not. One simple workaround is generate paired-end reads, but only use first or second read in a pair. FYI @marghoob

[2018-03-22 14:27] Chandralinjo opened #160 "VarSim 0.8.2 fails to add INV, DEL"
Hi,

I have a problem where VarSim 0.8.2 (public release) adds only insertions and duplications. I tried to find a problem in command line, or used dgv file, but couldn't. Is this a known issue, or am I missing something in the command line?

I am attaching [varsim.log](https://github.com/bioinform/varsim/files/1837875/varsim.log) file, and resulting
[sv.vcf.stats](https://github.com/bioinform/var

[2018-03-22 18:21] yunfeiguo commented on #160
Hi @Chandralinjo this is a known issue in varsim. We will work on it thanks!

[2018-03-23 04:58] zwm0502 opened #161 "dbSNP 141 file is unavailable"
Hello,
(1)The file dbSNP 141 file [All.vcf.gz]  is unavailable now.
(2)Could the varsim simulate other genomes like Ecoli K12? I want to simulate a ecoli genome and simulate reads from the new genome by another simulator rather than ART. How could I do this ?
(3)./varsim.py -h
Traceback (most recent call last):
  File "./varsim.py", line 17, in <module>
    from liftover_restricted_vcf_map import

[2018-03-23 16:46] yunfeiguo commented on #161
Hi @zwm0502

Thanks for the feedback.

* Please download dbsnp with this URL: ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b150_GRCh37p13/VCF/All_20170710.vcf.gz
* VarSim right now does not support non-human genomes. We hope to make varsim more general later on, but there is no guarantee when this will happen.
* please install pyvcf: `pip install pyvcf`

[2018-03-27 09:08] LeeNicha opened #162 "WARN [main] (VCFparser.java:189): Unrecognized phasing '.'."
Hi, I got the following error when I tried to simulate normal sample with germline mutations.
----------------------------------------------------------------------------------------------------
File "varsim.py", line 721, in <module>
    disable_vcf2diploid=args.disable_vcf2diploid)
  File "varsim.py", line 356, in varsim_main
    processes = monitor_processes(processes)
  File "varsim.py", line

[2018-03-28 15:40] #161 closed

[2018-03-28 15:41] yunfeiguo commented on #162
Could you try latest release?
https://github.com/bioinform/varsim/releases/tag/v0.8.3

[2018-04-09 09:42] LeeNicha commented on #162
Yes. but I found another error!!
This is my command
./varsim.py

![screen shot 2561-04-09 at 16 40 48](https://user-images.githubusercontent.com/24719780/38490987-ce3be012-3c14-11e8-9823-e400eea322ad.png)

Thank you in advance for your kind response.

[2018-04-10 00:58] LeeNicha commented on #162
This is the output.

Thank you

On 10 April 2018 at 00:52, Yunfei Guo <notifications@github.com> wrote:

[2018-04-10 04:15] yunfeiguo commented on #162
Can't see anything.

[2018-04-10 20:14] yunfeiguo commented on #162
![image](https://user-images.githubusercontent.com/7737294/38581206-fceda952-3cc0-11e8-98fc-994d516bfa1d.png)
you mean this one?

Could you run `java -version` in your *terminal* (command line)?

[2018-04-12 09:31] LeeNicha commented on #162
I knew why shown this error. Becurse I installed only JDK, but it needs JSE
to run the program.

Thankyou.

ในวันที่ พ. 11 เม.ย. 2018 03:14 Yunfei Guo <notifications@github.com>
เขียนว่า:

[2018-04-12 14:18] yunfeiguo commented on #162
👍  let me know if you have additional questions.

[2018-04-12 14:18] #162 closed

[2018-04-13 08:29] LeeNicha commented on #162
Ok and Thank you for your help

On 12 April 2018 at 21:18, Yunfei Guo <notifications@github.com> wrote:

[2018-05-22 22:52] CodingKaiser commented on #160
Are there older versions of this not affected by this bug? Or is it just 0.8.2 and 0.8.3?

[2018-05-23 00:36] yunfeiguo commented on #160
Hi, this issue affects both current and previous versions. Thanks.

[2018-05-23 01:04] CodingKaiser opened #167 "specify_ploidy.py does yield a .fasta file in the original order"
Generating a fasta file with the `specify_ploidy.py` does not result in a fasta file in the same order. Although this is not a huge issue, it seems like it should be a quick fix and would result in more consistent data.

Input:
[code]

Result:
[code]

[2018-05-23 17:26] #167 closed

[2018-05-23 17:28] CodingKaiser commented on #167
Opened an issue for the wrong GitHub page. Oops!

[2018-08-28 17:59] roger-liu-bina opened #169 "Varsim support for python3"

[2018-08-28 19:56] marghoob commented on #169
@roger-liu-bina @yunfeiguo what changes would this require?

[2018-08-29 16:42] yunfeiguo commented on #169
this needs further investigation and testing.

[2018-12-14 05:38] tgong1 opened #181 "argument simulator_exectuable is required"
Hi,

I want to disable read simulation by using --disable_sim, but it still asked for simulator_exectuable path. Do you have any suggestions about this?

Thank you,
Tingting

[2018-12-14 07:00] yunfeiguo commented on #181
Hi @tgong1

Are you using `varsim.py`? Could you try `varsim_multi.py` (more features, and more recent)?

[2018-12-18 03:09] tgong1 commented on #181
Thank you for the reply. I used varsim.py and  I will try varsim_multi.py soon.

[2019-02-23 13:04] genomics-geek opened #186 "run_randvcf: AttributeError: 'NoneType' object has no attribute 'wait'"
I have been evaluating varsim, but I have been trying to figure out how to run `varsim_multi` to generate simulated data for exomes and panels.  I have had trouble getting it to run.  Below are the details of the error message and the `varsim_multi` command I submit.  Thanks in advance for your help.

The error traceback:
[code]

Version of varsim: 0.8.4
Python: 2.7.13

Here is my command:
[code]

[2019-02-23 14:17] yunfeiguo commented on #186
Hi thanks for reporting, this will be fixed soon.

[2019-02-25 12:15] genomics-geek commented on #186
Thank you very much @yunfeiguo!

Also, I have been trying to read through the documentation and repo to better understand how to use varsim_multi.

Is that command appropriate for generating simulated exome data? Thanks!

[2019-02-25 19:55] yunfeiguo commented on #186
yes, but note that for exome, the capture/coverage/amplification biases are not simulated.

[2019-02-25 21:25] genomics-geek commented on #186
Thank you for the information. That is fine for my purposes.

If I use the vcfs parameter, is that how I can “spike” in variants?

[2019-02-26 00:35] yunfeiguo commented on #186
`BAMSurgeon` can give you a more empirical simulation with biases embedded in BAM. But please consult `BAMSurgeon`'s documentation for more details.

For your second question, yes.

[2019-02-26 11:51] genomics-geek commented on #186
Perfect. Thanks, this has been very helpful.

[2019-02-27 05:49] yunfeiguo commented on #186
No problem. Please pull from `master` (or download https://github.com/bioinform/varsim/archive/master.zip ) and run `./build.sh` inside varsim folder to get the latest version. Thanks.

[2019-02-27 21:32] #186 closed

[2019-03-08 18:46] thomas-davis opened #189 "Varsim"
Hello, I'm running the following command. The run finishes (and random.vc.vcf is not empty), but when I check the random.sv.vcf is always empty...
`
./varsim.py --vc_in_vcf All.vcf.gz --sv_insert_seq insert_seq.txt --sv_dgv GRCh37_hg19_supportingvariants_2013-07-23.txt --reference hs37d5.fa --id simu --read_length 100 --vc_num_snp 300 --vc_num_ins 100 --vc_num_del 100 --vc_num_mnp 50 --vc_num_comp

[2019-03-11 17:37] yunfeiguo commented on #189
Hi @thomas-davis Thanks for reporting, we will look into this issue. It might be related to #160, but I am not sure completely sure.

[2019-03-11 19:07] #189 closed

[2019-03-11 19:08] yunfeiguo commented on #189
Hi @thomas-davis please `git pull` and try again. Thanks!

[2019-03-13 03:02] thomas-davis commented on #189
Seems to work now. Thank you very much!

[2019-03-13 19:44] thomas-davis opened #191 "Error in RandDGVtoVCF of varsim_multi"
Hi, I'm trying to run Varsim_multi.py on hg19, using a BED file of exonic regions I downloaded from ucsc table browser. I'm using
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
and python 2.7.15.
the BED files appears normal to me.
chr1    11673   12427   uc001aaa.3_exon_0_200_chr1_11874_f      0

[2019-03-15 04:00] yunfeiguo commented on #191
Hi @thomas-davis what was the command used? And could you provide the input file to RandDGV2VCF as well (just enough for us to reproduce the error)?

[2019-03-18 17:42] thomas-davis commented on #191
Thanks very much for the quick response. This is the command I'm using:

./varsim_multi.py --samples_random 1 --sampling_vcf All.vcf.gz --total_coverage 15 --sv_insert_seq insert_seq.txt --simulator_options "-p -l 100 -m 350 -s 50" --sv_dgv GRCh37_hg19_supportingvariants_2013-07-23.txt --vc_num_snp 300 --vc_num_ins 100 --vc_num_del 100 --vc_num_mnp 50 --vc_num_complex 50 --sv_num_ins 50 --sv_num_d

[2019-03-20 19:23] yunfeiguo commented on #191
Thanks, @thomas-davis, we'll look into this.

[2019-03-24 03:52] thomas-davis commented on #191
Hello,
If you don't mind, I was wondering what you thought of this workaround to use in the meantime. I was going to supply varsim.py a vcf and dgv file with errors only in exonic regions, and use the --disable_sim flag. Then I was going to run Wessim on the simulated genome output by varsim, to hopefully get realistic variant containing WES. Do you think this is a reasonable approach?

Thanks!

[2019-03-26 00:16] yunfeiguo commented on #191
Hi @thomas-davis if varsim works with dgv without any error, then this should work. Read simulation should be fine anyway. Alternatively you can supply a VCF containing structural variants (SV) in place of a dgv file to completely bypass `RandDGV2VCF`.

[2019-04-11 20:54] yunfeiguo commented on #191
Hi @thomas-davis actually I noticed that the reference genome does not match the database (dgv doesn't have `chr` prefix for chromosome names but hg19 has it). Could you please try again with a different reference genome, say ftp://ftp-trace.ncbi.nih.gov/1000genomes/ftp/technical/reference/human_g1k_v37.fasta.gz

[2019-04-18 03:10] thomas-davis commented on #191
Thanks very much, I'll try again with that reference. Do you know where I might be able to find a bed file of exonic regions for that sequence? Do you think the BED file of exonic regions from USCS table browser for hg19 would work?
Thanks again.

[2019-04-18 04:22] yunfeiguo commented on #191
if you only care about primary autosomal chromosomes (e.g. chr1, chr2, ..., chr22) plus chrX, you can use the exome BED based on hg19, but the `chr` prefix needs to be removed. Otherwise, you'll need to find a BED file that corresponds to the reference file being used.

[2019-04-25 16:25] jayaramanp commented on #147
Hello @haoziyeung, were you able to simulate fastq data using varsim_multi.py?

I used the command you have up here and I'm getting having issues..figured before I check with @yunfeiguo i'll ask you if you were ever able to generate fastq using varsim_multi.py?

[2019-04-25 18:55] jayaramanp opened #194 "Varsim build.sh error st RTG tools jar step"
Hello @yunfeiguo ,
I'm trying to use Varsim to simulate fastq for a targeted region. I have however encountered little to no success yet and need help.

I recently went through some of the issues which mentioned pulling from the master branch and running:

    ./build.sh

I did that recently and I encountered errors leading to a failed BUILD. Here is the build command I used:

 Results:
 Tests run

[2019-04-25 20:30] yunfeiguo commented on #194
Hi @jayaramanp let me take a look, thanks!

[2019-04-25 21:16] yunfeiguo commented on #194
I did find and then fixed a typo in `build.sh`, could you `git pull` and try again? Also, do you have your own `ant` on `PATH`?

[2019-04-26 11:20] jayaramanp commented on #194
hi @yunfeiguo I'll git pull right now.. I don't have my own
`ant` in `PATH` why? do you need me to have my own `ant`?

[2019-04-26 12:10] jayaramanp commented on #194
hi @yunfeiguo it still fails around the RTG-tools step.

+ git submodule init
+ git submodule update
+ pushd rtg-tools
/Public/varsim/master/varsim/rtg-tools /Public/varsim/master/varsim
+ rm -rf 'rtg-tools-*'
+ /Public/varsim/master/varsim/opt/apache-ant-1.9.13/bin/ant zip-nojre
Buildfile: build.xml

init:

rtg-vcs-info:
     [echo] Current build revision is bdba5ea

zip-init:

zip-jars:

init:

[2019-04-26 17:12] jayaramanp commented on #194
i think I might be using my own ant
`$ ant -version`
`Apache Ant version 1.7.1 compiled on January 20 2016`

[2019-04-26 18:42] jayaramanp commented on #194
Okay the build was successful. i'll try running it now!

[2019-04-26 19:29] yunfeiguo commented on #194
ok, great!

[2019-04-26 19:29] #194 closed

[2019-04-26 19:48] jayaramanp opened #196 "Invalid literal for float - while parsing dgv to vcf"
Hello @yunfeiguo

I'm trying to run varsim_multi.py

here is the command I used: (Pyenv python 2.7.8)
`python /Public/varsim/master/varsim/varsim_multi.py --regions /DGD/Research/ConsPanel_RD/SIM/CONS.bed --reference /DGD/clin-air/references/GRCh37/human_g1k_v37.fasta --sampling_vcf /DGD/Research/ConsPanel_RD/SIM/BAMSURGEONSIM/LC_regions.variants.vcf.gz --vc_num_snp 100 --vc_num_ins 60 --sv_insert

[2019-04-26 23:38] yunfeiguo commented on #196
could you provide us with a minimal subset of `/DGD/Research/ConsPanel_RD/SIM/BAMSURGEONSIM/LC_regions.variants.vcf.gz` to reproduce this error?

[2019-04-26 23:39] yunfeiguo commented on #196
another simple thing to is `zgrep '3|3' /DGD/Research/ConsPanel_RD/SIM/BAMSURGEONSIM/LC_regions.variants.vcf.gz` to see what line is causing this issue.

[2019-04-29 13:52] jayaramanp commented on #196
Thank you @yunfeiguo it was that vcf file.. it missed a header line.. my bad!
I was able to generate fastq data for it. I'll test that fastq now!
Thank you for your help with this..

is there a way I can avoid using DGV or insert_seq.txt?

[2019-04-29 17:31] yunfeiguo commented on #196
yeah, you can remove the `--sv_dgv` and `--sv_insert_seq` options.

[2019-04-29 17:41] #196 closed

[2019-04-29 18:42] jayaramanp opened #197 "Weird coverage profile for spike in fastqs"
Hello @yunfeiguo
I was able to successfully run varsim_multi.py and generate fastq with variants "spiked in" from dbsnp snps.

However, the coverage of the samples looks very funky! see how the coverage right over the exon almost resembles 2 prongs instead of one uniform coverage?
Can we implement a parameter for sorts to fix this issue?

<img width="1261" alt="Screen Shot 2019-04-29 at 1 34 26 PM

[2019-04-30 17:15] yunfeiguo commented on #197
Hi @jayaramanp several comments and questions:
* could you load the BED file used for simulation at the bottom of the igv screenshot?
* one strategy is flank the regions (by 500bp, say) and then use flanked regions for simulation to achieve better uniformity around original regions.
* another solution is increase read length (`-l` option for `--simulator_options`) because apparently the green read

[2019-04-30 18:31] jayaramanp commented on #197
@yunfeiguo
1. could you load the BED file used for simulation at the bottom of the IGV screenshot?

1 | 100316583 | 100316695 | NM_000028.2_cds_1
1 | 100316583 | 100316695 | NM_000642.2_cds_1
1 | 100316583 | 100316695 | NM_000643.2_cds_1
1 | 100316583 | 100316695 | NM_000644.2_cds_1
1 | 100318210 | 100318274 | NM_000646.2_cds_1
1 | 100327043 | 100327284 | NM_000028.2_cds_2
1 | 100327043 | 10032728

[2019-05-10 18:45] jayaramanp opened #198 "monitor_process fails to kill process halfway"
Hello @yunfeiguo

I'm trying to replicate the generation of fastqs using varsim_multi.py and i keep getting stuck towards the end:

here is the command i used:

`python /Public/varsim/master/varsim/varsim_multi.py --regions /DGD/Research/ConsPanel_RD/SIM/CONS.bed --reference /DGD/clin-air/references/GRCh37/human_g1k_v37.fasta --sampling_vcf /Public/varsim/0.8.3/All.vcf.gz --sv_insert_seq /Public/v

[2019-05-11 00:45] yunfeiguo commented on #198
Hi @jayaramanp looks like `ART` failed. In the log folder, you should find logs for `ART`: `art.lane*.err` or `art.lane*.out`, could you post the contents of these files? You can also try manually run `ART` commands, e.g. `/Public/varsim/master/varsim/opt/ART/art_bin_VanillaIceCream/art_illumina -p -l 250 -m 350 -s 50 -i out_05072019/VarSim0/out/VarSim0.fa -f 300.0 -rs 0 -o out_05072019/VarSim0/ou

[2019-06-18 09:26] MagdalenaMu opened #201 "Somatic read generation"
Dear all,

I am currently generating reads for normal / tumor comparison and I came across the issue that for the somatic simulation, in case I don't specify how many insertions and deletions I want, VarSim ends up generating around 500 indels (instead of none as I would have expected).
I worked around it by specifying 0 insertions/deletions but I thought you might still want to look into that.

[2019-06-18 23:26] yunfeiguo commented on #201
Hi @MagdalenaMu

Typically some number of indels are expected in each genome.  While 500 might not be appropriate for every case, we need to put some positive integer as default. Thanks.

[2019-06-18 23:26] #201 closed

[2019-07-30 14:56] jazberna1 commented on #107
Hello,

I am facing the same error. Is there a specific version of Oracle or Open JDK that is known to work with varsim-0.7.1 ?

Many thanks
Jorge

[2019-07-30 15:23] yunfeiguo commented on #107
Hi @jazberna1 please use Oracle JDK 1.8 or above, thanks.

[2019-08-28 23:58] Phillip-a-richmond opened #207 "Current install instructions"
Hello,

I'd like to install VarSim in it's most up-to-date form, and would like to have it from a reproducible release.  My install failed on release 0.8.4 with that build.sh script, hanging at this position:

Requirement already satisfied: setuptools in ./miniconda2/lib/python2.7/site-packages (from pyvcf==0.6.8) (41.0.1)
Installing collected packages: pyvcf
Successfully installed pyvcf-0.6.8
+ /

[2019-08-29 23:59] Phillip-a-richmond commented on #207
Forked and fixed my own problem. Had issue with local conda install + curses lib for samtools.

[2019-08-29 23:59] #207 closed

[2019-08-30 00:05] marghoob commented on #207
Thanks @Phillip-a-richmond . Would your fix be helpful to include in VarSim?

[2019-09-03 17:02] yunfeiguo commented on #207
Hi @Phillip-a-richmond

Thanks for reporting. Your fix looks really neat (https://github.com/bioinform/varsim/compare/master...Phillip-a-richmond:master).

For deployment, please use the latest VarSim.

[2019-09-18 20:39] Phillip-a-richmond opened #214 "Simulating CNV, STR, MEI"
Hello,
In the simulation of CNVs, STRs, and MEIs, does VarSim accept extra user-input VCFs in format v4.2? Specifically asking because in the past, to sim a CNV, I'd create an indel-like VCF, with ref or alt being a very long sequence (length of the CNV, for example).

I'm wondering if instead of that, for these SVs that it will accept the <DEL> format described here:

https://samtools.github.io/h

[2019-09-19 00:11] yunfeiguo commented on #214
Hi @Phillip-a-richmond

Yes, for example: https://github.com/bioinform/varsim/blob/master/src/test/resources/DuplicationTest/input.vcf

[2019-09-19 00:14] yunfeiguo commented on #214
And for copy numbers less than 1 for each haplotype, they can be specified as deletions.

[2019-09-19 19:49] Phillip-a-richmond commented on #214
Thanks!

[2019-09-19 19:49] #214 closed

[2019-10-14 14:27] ranijames opened #220 "Varsim is only generating the `RandVCF2VCF.err` file and the out directory is empty"
Dear All,

Thanks for the Varsam tool. I am using the tool using `All_20180418.vcf` with all other paramter mentioned in the http://bioinform.github.io/varsim/ tutorial. All the other input are also same as the tutorial page. I am runing the tool since 4 hours, all it generated until now is the `RandVCF2VCF.err` file in the `log` directory. The file in `out` directory is empty so far. The tool is

[2019-10-14 14:58] yunfeiguo commented on #220
Hi @ranijames the logs and commands look okay to me. One thing is please make sure `ART/art_bin_VanillaIceCream/art_illumina` is the correct path. The example in `quickstart` might be a bit slow, let me whether we can create an even smaller example.

[2019-10-14 16:45] yunfeiguo commented on #220
Yeah, that should work.

[2019-10-14 23:56] yunfeiguo commented on #220
Hi @ranijames if you want, you can try this example https://github.com/bioinform/varsim/tree/fix_test (`git checkout fix_test` in your varsim folder) which should be much faster than the original example.

[2019-10-15 06:59] ranijames commented on #220
@yunfeiguo Thanks for that information! My first test with a single chromosome is finished now. I want to do the secondary analysis using BWA_MEM and haplotype caller(GATK), my question is there are many `lane*.read*.fq.gz` files and `simu.fa` file. I wanna be sure so the `simu.fa` should be the reference and `lane*.read*.fq.gz` are input fasta file for the alignment, isnt?

[2019-10-15 07:33] ranijames commented on #220
@yunfeiguo Thanks for that. Yes, I tried on one chromosome and it was pretty fast. I now multiple fasta files and

[2019-10-15 07:33] #220 closed

[2019-10-15 16:06] yunfeiguo commented on #220
Hi @ranijames `lane*fq.gz` are the reads, but `simu.fa` is the ground truth sequence (aka perturbed genome), aligner should use standard reference genome (e.g. `GRCh37`).

[2019-10-15 18:25] ranijames commented on #220
@yunfeiguo Thanks for the reply and clarification. May I know where can I find the description for the supporting variants(insert_seq.txt) and the insert sequences(GRCh37_hg19_supportingvariants_2013-07-23.txt) used in the tutorial example?

[2019-10-18 11:14] jazberna1 opened #224 "reduce the number of simulated clipped reads"
Hello,

I was wondering if there is a way to control how many clipped reads are simulated via Varsim (or Art).

Many thanks
Jorge

[2019-10-18 14:07] yunfeiguo commented on #224
Hi @jazberna1 what do you mean by `clipped reads` here?

[2019-10-18 14:21] jazberna1 commented on #224
Hello Yunfei,

Yes, let me explain. I have used varsim to simulate 1000 insertions in the human reference genome, and the generate PE illumina reads based on that artificial genome. What happens it that when I map those reads back to the original human reference genome I see a a high amount of clipped reads, much more than I had expected all over the genome, regardless of the extra clipped reads d

[2019-10-18 16:26] yunfeiguo commented on #224
Is it possible to simulate 1 insertion or invesion and check if the results are consistent with expectation?  If it's not working, you can send me the command to reproduce this issue.

[2019-10-21 11:21] jazberna1 commented on #224
Hi Yunfei,

I'm repeating the simulations passing --art_options="--errfree" and see if that has to do with the excess of clipped reads.

Jorge

[2019-10-21 11:29] jazberna1 opened #225 "inconsistent quality strings in error free sam file"
Hello Yunfei,

This is probably an ART question rather than varsim but I have noticed that if you generate an error free sam by passing --art_options="--errfree" to varsim the generated sam file has inconsistent quality strings with different lengths than the corresponding reads. This causes errors 'samtools fastq' or 'gatk SamToFastq'.

Jorge

[2019-10-21 19:20] yunfeiguo commented on #225
Hi @jazberna1 you are right, I did see inconsistent SEQ and QUAL lengths in ART's `errFree.sam` file. I think a workaround would be ignore the quality scores and convert to FASTA, e.g.
[code]

[2019-10-23 04:14] zhangyafeng1 opened #229 "[ERROR] Failed to execute goal org.codehaus.mojo:versions-maven-plugin:2.7:set (default-cli): Goal requires a project to execute but there is no POM in this directory"
hello, when i run ./build.sh , it gives me  this problem,could you tell me how to solve this problem?
hope your answer

[ERROR] Failed to execute goal org.codehaus.mojo:versions-maven-plugin:2.7:set (default-cli): Goal requires a project to execute but there is no POM in this directory (/ifs/TJPROJ3/HWEU/USER/heyi/varsim_new). Please verify you invoked Maven from the correct directory. -> [Help 1]

[2019-10-23 04:26] yunfeiguo commented on #229
Hi @zhangyafeng1 were you using `master` branch of varsim?

[2019-10-23 05:29] zhangyafeng1 commented on #229
sorry I am a greenhand of bioinformatics . what is maste branch? I can not fand it in mt path.
this is the list of my path

varsim_somatic.py
liftover_restricted_vcf_map.py
__init__.py
 generate_small_test_ref.py
varsim_validator.py
varsim.py
varsim_multi.py
utils.py
compare_vcf.py
quickstart.sh
VarSim.jar
RTG.jar
varsim-0.8.4.tar.gz
build.sh
opt

[2019-10-23 12:20] zhangyafeng1 commented on #229
I download that software on this website.The name of that software is varsim-master. when I run build.sh again, I got  another error .
[ERROR] Failed to execute goal on project varsim: Could not resolve dependencies for project com.bina.varsim:varsim:jar:0.8.4: Could not transfer artifact org.hamcrest:hamcrest-core:jar:1.3 from/to central (https://repo.maven.apache.org/maven2): Connect to repo.mav

[2019-10-23 14:04] ranijames opened #230 "Reads covered by variants"
Hello All,

This is not an issue, but I have a technical question.
 I wanna find the reads covered by each variant in the simulated truth VCF file. And I do not wanna do any secondary analysis for that (for example, using another variant caller on the fastq files) this is to avoid any bias from the secondary analysis tools. I wanna get the reads mapped or covered to each variant in the `VCF` file.

[2019-10-23 18:26] yunfeiguo commented on #229
Hi @zhangyafeng1 could you try this http://bioinform.github.io/varsim/#download_varsim ?Thanks.

[2019-10-24 03:13] zhangyafeng1 commented on #229
Failed to execute goal on project varsim: Could not resolve dependencies for project com.bina.varsim:varsim:jar:0.8.5: Could not transfer artifact org.hamcrest:hamcrest-core:jar:1.3 from/to central (https://repo.maven.apache.org/maven2): repo.maven.apache.org: Name or service not known: Unknown host repo.maven.apache.org: Name or service not known -> [Help 1]

[2019-10-28 19:57] yunfeiguo commented on #230
Hi @ranijames sorry we don't have a tool for this purpose yet.

[2020-02-05 00:44] yunfeiguo opened #235 "art binary"
built from: artbinvanillaicecream031114linux64tgz.tgz
[art_bin_VanillaIceCream.zip](https://github.com/bioinform/varsim/files/4156868/art_bin_VanillaIceCream.zip)

[2020-02-05 00:44] #235 closed

[2020-09-03 16:12] bioinfo89 opened #239 "Varsim error: returned non-zero exit status 1"
Hi,

I am using chr21 for simulation of variants. The following the command I am using to do so:

python /WGS_tools/varsim/varsim.py --vc_in_vcf /WGS_tools/varsim/All_20170710.vcf --sv_insert_seq /WGS_tools/varsim/insert_seq.txt --sv_dgv /WGS_tools/DGV/GRCh37_hg19_variants_2020-02-25.txt --reference /WGS_SV_analysis/hg19/chr21.fa --id Simchr21 --read_length 125 --mean_fragment_size 500 --sd_fragme

[2020-09-03 19:27] yunfeiguo commented on #239
Hi @bioinfo89 could you attach the log files (they are in `log/` folder)? Thanks.

[2020-09-03 20:03] bioinfo89 commented on #239
Hi Guo,

Please find attached the log files.
Best,
Khyati Chandratre

[2020-09-03 20:37] bioinfo89 commented on #239
[varsim.log](https://github.com/bioinform/varsim/files/5171038/varsim.log)

[2020-09-04 17:53] yunfeiguo commented on #239
If you just run `/scratch/krc190002/WGS_tools/varsim/opt/jdk1.8.0_131/bin/java -Xmx10g -jar /scratch/krc190002/WGS_tools/varsim/VarSim.jar randvcf2vcf -seed 0 -t MALE -num_snp 100 -num_ins 50 -num_del 500 -num_mnp 0 -num_complex 0 -num_dup 0 -num_inv 0 -novel 0.01 -min_len 0 -max_len 29 -prop_het 0.6 -ref /scratch/krc190002/WGS_SV_analysis/hg19/chr21.fa -vcf /scratch/krc190002/WGS_tools/varsim/All

[2020-09-06 04:17] bioinfo89 commented on #239
Please find attached the error file after I ran the mentioned command.
Best,
Khyati Chandratre

[2020-09-07 03:58] bioinfo89 commented on #239
Following is the error message:

[code]

[2020-09-08 17:04] yunfeiguo commented on #239
Hi @bioinfo89 the error message suggests that more memory is needed for Java. For `varsim.py`, you can set `--java_max_mem` option to a larger value, e.g. `20g`. The default is `10g`. You need to experiment a bit to see how much memory is sufficient. In addition, if you are only interested in `chr21`, you can subsample `/scratch/krc190002/WGS_tools/varsim/All_20170710.vcf` to get rid of non-chr21

[2020-09-08 20:22] bioinfo89 commented on #239
Alright thanks Guo, I will try that!

Best,
Khyati Chandratre

[2020-09-08 22:59] bioinfo89 commented on #239
I tried to increase the heap size but I get the same error:

[code]

[2020-09-09 00:54] yunfeiguo commented on #239
Hi @bioinfo89 please provide the log for executing `randvcf2vcf` step. There should be a `RandVCF2VCF.err` log file inside your `log` folder.

[2020-09-09 06:32] bioinfo89 commented on #239
Please find attached the error file.
Best,
Khyati Chandratre

[2020-09-09 17:59] yunfeiguo commented on #239
There is no attachment.

[2020-09-09 18:03] bioinfo89 commented on #239
[RandVCF2VCF.err.txt](https://github.com/bioinform/varsim/files/5197121/RandVCF2VCF.err.txt)

[2020-09-09 18:58] yunfeiguo commented on #239
The last part of the log says
[code]
So apparently the chromosome names in reference and VCF do not match. Make sure they either BOTH are `chr21` or BOTH are `21` (no `chr`).

[2020-09-09 20:42] bioinfo89 commented on #239
That works! Thanks!

[2020-09-09 20:42] #239 closed

[2020-10-22 22:52] bioinfo89 opened #248 "VarSim error: ALT column is malformated: Found illegal character: 46"
Hi,
I am using Varsim for simulation and following is the command I am using:

`python varsim/varsim.py --vc_in_vcf varsim/All_20170710_wdchr+header.vcf --sv_insert_seq varsim/insert_seq.txt --sv_dgv GRCh37_hg19_supportingvariants_2020-02-25_wdchr.txt --reference hg19/chr22.fa --id Simchr22 --read_length 125 --mean_fragment_size 500 --sd_fragment_size 100 --sv_num_ins 0 --sv_num_dup 0 --sv_num_inv

[2020-10-23 14:03] bioinfo89 opened #249 "VarSim: Large structural variants (DELs) are not simulated."
Hi,

I want to simulate only deletions on chromosome 22, between range 1-30 bps and 30bps to 1Mb. For the same I am using the following command:

`python varsim.py --vc_in_vcf All_20170710_chr22_variants_final.vcf --sv_dgv GRCh37_hg19_supportingvariants_2013-07-23_wdchr.txt --reference hg19/chr22.fa --id Simchr22 --read_length 125 --mean_fragment_size 500 --sd_fragment_size 100 --sv_num_ins 0 --sv

[2021-02-02 09:36] biott opened #251 "varsim install error"
hello, thanks for the help.  run build.sh came the error:

ant zip-nojre
Buildfile: build.xml does not exist!
Build failed

[2021-02-02 18:41] yunfeiguo commented on #251
Hi apparently rtg-tools was not checked out properly.

Could you try the following commands in varsim folder?
[code]
Then see if `build.xml` is present in `rtg-tools` folder?

Best,
Yunfei

On Tue, Feb 2, 2021 at 1:36 AM biott <notifications@github.com> wrote:

[2021-09-02 20:54] gtollefson opened #260 "Varsim build successfully but python packages aren't loadable"
Hi,

I've downloaded and built VarSim following the instructions on the documentation page. However, when I run the following code on my reference genome (I am using the hg38 reference genome, not the fasta included in VarSim), I get an error message stating that certain python modules are not installed. Since there were no errors during the build step, I'm concerned that there is an issue with th

[2021-09-03 11:01] yunfeiguo commented on #260
Hi George,

Are you using master branch? And when you built varsim, did you have your
own python virtual environment or conda environment? Such environments must
be cleared (with re-login) before installation.

Best,
Yunfei

George Tollefson ***@***.***>于2021年9月2日 周四下午1:54写道：

--
Best,
Yunfei
Bioinformatics Research and Early Development (bRED)
Roche Sequencing Solutions, based in Massachusetts, U

[2021-09-03 13:27] gtollefson commented on #260
Hi @yunfeiguo,

Thank you very much for the fast response. I built varsim using the following commands. Does a newly created virtual environment need to be cleared with relogin before installation?

[code]

[2021-09-04 12:52] yunfeiguo commented on #260
Varsim build does not support a virtual environment. Most python based
scripts will know which python interpreter to use with no additional
configuration.

George Tollefson ***@***.***>于2021年9月3日 周五上午6:28写道：

--
Best,
Yunfei
Bioinformatics Research and Early Development (bRED)
Roche Sequencing Solutions, based in Massachusetts, USA

[2021-09-04 17:28] gtollefson commented on #260
@yunfeiguo Ok I see! I've built varsim again, this time in a fresh session without activating a virtual environment. This time when I run the quickstart script it fails to find samtools even though I've loaded samtools as a module already. I tried running the quickstart script without loading the samtools module on our computing cluster and it returned the same error, pasted below.

This could to

[2021-09-05 12:24] yunfeiguo commented on #260
Hi George, `quickstart.sh` only uses the `samtools` in VarSim's `opt/` folder. Please check your `samtools` installation at `opt/samtools-1.9_install/samtools` inside VarSim root directory, if not installed, you need to remove `opt/samtools-1.9_install` and `opt/miniconda2` folders, then re-run `build.sh`.

[2021-09-07 17:57] gtollefson commented on #260
Hi @yunfeiguo,

I think I see the issue. Samtools is installed, but the path to samtools in the quickstart.sh script seems to be missing a directory. Samtools was installed by build.sh in the path: `/varsim/opt/samtools-1.9_install/bin/`, but quickstart.sh is looking for `samtools in /varsim/opt/samtools-1.9_install/`. When I look inside the /opt/samtools-1.9_install/bin/ directory I see these con

[2021-09-07 18:14] yunfeiguo commented on #260
You are right. Thanks for pointing it out. I fixed this issue. Please pull from `master` again.

[2021-09-16 16:18] gtollefson commented on #260
HI @yunfeiguo,

Thank you very much for your continued support. I pulled from master again and rebuilt successfully. This time when I run the quickstart test, it runs further along but does not complete - it fails upon attempting to build the fai index after saving the `GRCh37_hg19_supportingvariants_2013-07-23.txt` file.

...

[2021-09-17 00:57] yunfeiguo commented on #260
Is your hs37d5.fa intact? What does it show if you run
`/gpfs/data/dgamsiz/Uzun_Lab/gtollefs/indel_detection_project/varsim/varsim/tests/quickstart_test/../../opt/samtools-1.9_install/bin/samtools
faidx hs37d5.fa`?

I also saw failure for `VarSim.jar randvcf2vcf`, could you show what's in
`log/RandVCF2VCF.err`?

Best,
Yunfei

On Thu, Sep 16, 2021 at 9:18 AM George Tollefson ***@***.***>
wrote:

[2021-09-17 19:11] gtollefson commented on #260
It looks like the hs37d5.fa file is empty. Perhaps there was an error while retrieving or unpacking it. Our system does not have bgzip installed, rather we use gunzip. If the default unzipper is bgzip that step may be failing.

The output in log/RandVCF2VCF.err is:

[2021-09-17 19:39] yunfeiguo commented on #260
Actually gunzip is used to decompress. But wget is used to download the
genome. If you don't have wget, you can manually download and decompress
the genome here
ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/phase2_reference_assembly_sequence/hs37d5.fa.gz

Best,
Yunfei

On Fri, Sep 17, 2021 at 12:12 PM George Tollefson ***@***.***>
wrote:

[2021-09-20 17:18] yunfeiguo commented on #260
Additionally you can use Docker to run VarSim: https://hub.docker.com/repository/docker/rssbred/varsim

[2022-03-28 10:40] fardokhtsadat opened #267 "How to restrict the scope of read generation"
Hello,
I would like to generate synthetic reads for a given reference genome, but I would like to further restrict the scope to generate reads for specific regions in the genome.
I have checked the manual of the tool, but I cannot find an argument for providing a regions file (BED file) to restrict the scope of read-generation to certain regions. How can this goal be achieved using VarSim?

[2022-03-28 17:23] yunfeiguo commented on #267
Hi @fardokhtsadat you need to run `generate_small_test_ref.py` first to restrict the VCF and reference to region of interest and then use the restricted reference and VCF (DGV and random sampling in VCF not supported) to generate simulated reads. For example
[code]

This is the output expected:
[code]

[2022-03-29 11:36] fardokhtsadat commented on #267
@yunfeiguo Thank you for your quick response. You mentioned that DGV is not supported. Does this mean that I cannot create synthetic reads for structural variants?

My main usage is to generate synthetic reads for structural variants given a vcf file. I can see that the coverage has to be specified when creating the synthetic reads. However, if coverage is set to for example 70 then all SVs (both

[2022-03-29 16:58] yunfeiguo commented on #267
If you want to restrict simulation by providing a BED file, then DGV is not supported. A workaround is put the SVs that you want to simulate into a VCF and provide the SV VCF to `generate_small_test_ref.py`.

If there's a deletion in the simulated genome, then coverage at the deletion locus will drop (depending on what the deletion looks like). Coverage specified on commandline is about average de

[2022-03-29 18:15] fardokhtsadat commented on #267
Thank you very much for the information.

[2022-03-29 18:15] #267 closed, assigned to nobody

[2022-03-29 18:41] fardokhtsadat opened #268 "Simulate Synthetic Reads with Structural Variants for a Given DGV"
Hello,

I would like to use VarSim to generate synthetic reads for structural variants from a given ground truth VCF file. To achieve this, I am using VarSim with the following parameters:
[code]
However, this command raises the following error:
```ValueError: Need SV sequence file to fill in SV sequences```

I think this error is because of missing `--sv_insert_seq` parameter. From the documentat

[2022-03-29 19:08] yunfeiguo commented on #268
Hi please use `--vcfs` to supply VCF files. `--sv_dgv` only accepts the DGV format.